
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero Section */
  header {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  /* About Me Section */
  #about {
    padding: 50px;
    text-align: center;
  }
  
  /* Skills Section */
  #skills {
    padding: 50px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skills-list li {
    display: inline-block;
    margin: 0 10px;
  }
  
  
#projects{
  margin: 15px;
  padding: 50px;
  text-align: center;
  display: block;
}
#projects .box{ 
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

#projects .box img{ 
 height: 160px;
 margin: auto;
 display: block;
}

#projects .box p{
  font-family: 'Bree Serif', serif;

} 


  
  /* Contact Section */
  #contact {
    padding: 50px;
    text-align: center;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contact-form label {
    margin-bottom: 10px;
  }
  
  #contact-form input,
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  #contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }